/* Body */
body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
}
/* Default */
/* font-size: 16px;
/* font-weight: 400;
/* font-style: normal;
/* color: black;
/* background color: white; */
ul {
  list-style-type: none;
}
a {
  color: currentColor;
  text-decoration: none;
}

.button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}



/* Header */
.header {
 
}

.logo-dark {
  color: #4D5AE5;
font-family: Raleway;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.header-nav {

}

.logo {
  color: #2E2F42;
  font-family: Raleway;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.header-list {

}

.header-list-item {
  color: #2E2F42;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-contacts {
  color: #434455;
  font-family: Roboto;
  font-style: normal; 
  line-height: 1.5;
  letter-spacing: 0.02em; 
}

.header-contacts-info .link:hover,
.header-contacts-info .link:focus {
  color: #4D5AE5
}




/* Hero */
.hero {
  background-color: #2e2f42;
  }

.hero-title {
  color: #FFF; 
  text-align: center;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
}

.hero-button {
 border-radius: 4px;
 background-color: #4D5AE5;
 box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
 color: #FFF;
/* Button Text */
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em; 
}
  
.hero-button .link:hover,
.hero-button .link:focus {
  background-color: #404BBF;

}

.advantages {
}

.advantages-title, 
.team-member-name,
.portfolio-name {
  color: #2E2F42;
  /* Header 3 */
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px; 
}


.advantages-descr,
.team-position,
.portfolio-name-descr {
  color: #434455;
line-height: 1.5;
letter-spacing: 0.02em; 
}


.team {
background-color: #F4F4FD; 
}

.team-title
.portfolio-title {
  color: #2E2F42;
text-align: center;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.06em;
text-transform: capitalize; 
}